body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button {
  font-family: "Open Sans", sans-serif;
}

/********************* Top Container *********************/
.top-container {
  background-color: hsl(193, 100%, 96%);
  background-image: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3% 7% 5% 7%;
}

/****** Top Bar ******/
.top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.top-bar img {
  height: 30px;
}

.top-bar button {
  background-color: #ffffff;
  border: none;
  border-radius: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: auto;
  padding: 15px 65px;
}

.top-bar button:hover {
  color: hsl(208, 11%, 55%);
}

/****** Introduction ******/
.introduction {
  display: flex;
  align-items: center;
}

.introduction-paragraph {
  padding-right: 5%;
}

.introduction-paragraph h1 {
  font-size: 2.5rem;
}

.introduction-paragraph button {
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 60px;
  box-shadow: rgba(255, 82, 191, 0.2) 0px 8px 24px;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  margin: 15px 0;
  padding: 15px 65px;
}

.introduction-paragraph button:hover {
  background-color: hsl(322, 100%, 80%);
}

.introduction-image {
  width: 150%;
}

.introduction-image img {
  max-width: 100%;
}

/********************* Middle Container *********************/
.middle-container {
  margin-top: 7%;
  padding: 3% 8% 5% 8%;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 400px;
  margin-bottom: 3%;
  padding: 2% 0;
}

.card h2 {
  margin-bottom: 0;
}

.card p {
  color: hsl(208, 11%, 55%);
  margin-top: 10px;
}

.card-description {
  flex: 1 1 40%;
  padding: 0 10%;
}

.card-image {
  flex: 1 1 375px;
  margin: 0 3% 0 auto;
}

.card-image img,
.card-image-left img {
  max-width: 100%;
}

.card-image-left {
  flex: 1 1 475px;
  margin: 6% auto 6% 10%;
}

.card-description-right {
  flex: 1 1 50%;
  padding: 0 2% 0 13%;
}

/********************* CTA *********************/
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8%;
}

.cta div {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  text-align: center;
  transform: translate(0, 35%);
  width: 800px;
}

.cta h2 {
  font-size: 2rem;
  margin-top: 8%;
}

.cta button {
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0 7%;
  padding: 25px 105px;
}

.cta button:hover {
  background-color: hsl(322, 100%, 80%);
}

/********************* Bottom Section *********************/
.bottom-section {
  background-color: hsl(192, 100%, 9%);
  color: white;
}

/****** Bottom Container ******/
.bottom-container {
  display: flex;
  font-weight: 300;
  padding: 1% 8% 3%;
}

.bottom-section > img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4695%)
    hue-rotate(291deg) brightness(112%) contrast(99%);
  height: 40px;
  margin: 15% 0 0 8%;
}

/**** Info Section ****/
.info {
  display: flex;
  flex: 1 1 175px;
  margin-right: 10%;
}

.info div {
  display: grid;
  align-items: center;
  grid-template: repeat(3, auto) / repeat(2, auto);
  grid-column-gap: 15px;
}

.info p {
  margin-bottom: 1rem;
}

.info img[alt="location"] {
  margin-bottom: 2.5rem;
}

/**** Link Section ****/
.link {
  display: flex;
  flex: 1 1 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}

.link-column {
  display: flex;
  flex-direction: column;
}

.link a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

/**** Social Section ****/
.social {
  flex: 1;
  margin: 18px 0 0 15%;
}

.social div {
  border: solid 1px white;
  border-radius: 50%;
  display: inline-block;
  height: 1.8rem;
  width: 2rem;
  margin: 0 10px 15px 0;
  padding-top: 0.2rem;
  text-align: center;
}

.social div:hover {
  border-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}

/********************* Footer *********************/
footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 4%;
}

footer div {
  padding-right: 60px;
}

footer p {
  margin: 0;
}

footer a {
  color: hsl(322, 100%, 66%);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/********************* Media Query *********************/
@media screen and (max-width: 702px) {
  /*********** Top Container ***********/
  .top-container {
    background-image: url(../images/bg-hero-mobile.svg);
    padding-top: 7%;
  }

  .introduction {
    flex-wrap: wrap;
    text-align: center;
    margin: 20% 5% 0;
  }

  .introduction-image {
    margin: 15% 0 5%;
  }

  .top-bar button {
    font-size: 1rem;
  }

  /*********** Middle Container ***********/
  .middle-container {
    margin-top: 10%;
    text-align: center;
  }

  .card {
    align-items: stretch;
    flex-direction: column;
    border-radius: 25px;
    height: 100%;
    margin-bottom: 12%;
  }

  .card-image,
  .card-image-left {
    flex: 1;
    margin: 0 0 0 0;
    padding: 12%;
  }

  .card-description,
  .card-description-right {
    order: 1;
    margin: 0 12%;
    padding: 0 0 7% 0;
  }

  .card h2 {
    margin-bottom: 18px;
  }

  /*********** CTA ***********/
  .cta div {
  }

  /*********** Bottom Section ***********/
  .bottom-container {
    flex-direction: column;
  }
}
