body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button {
  font-family: "Open Sans", sans-serif;
}

/********************* Top Container *********************/
.top-container {
  background-color: hsl(193, 100%, 96%);
  background-image: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3% 7% 5% 7%;
}

.top-bar {
  align-items: center;
  display: flex;
  margin-bottom: 5%;
}

.top-bar img {
  height: 30px;
}

.top-bar button {
  background-color: #ffffff;
  border: none;
  border-radius: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: auto;
  padding: 15px 65px;
}

.introduction {
  display: flex;
  align-items: center;
}

.introduction-paragraph {
  padding-right: 5%;
}

.introduction-paragraph h1 {
  font-size: 2.5rem;
}

.introduction-paragraph button {
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 60px;
  box-shadow: rgba(255, 82, 191, 0.2) 0px 8px 24px;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  margin: 15px 0;
  padding: 15px 65px;
}

.introduction-image {
  width: 150%;
}

.introduction-image img {
  max-width: 100%;
}

/********************* Middle Container *********************/
.middle-container {
  margin-top: 7%;
  padding: 3% 8% 5% 8%;
}

.card {
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  margin-bottom: 3%;
  height: 400px;
}

.card h2 {
  margin-bottom: 0;
}

.card p {
  color: hsl(208, 11%, 55%);
  margin-top: 10px;
}

.card-description {
  padding: 0 10%;
  width: 40%;
}

.card-image {
  margin: 4% 3% 4% auto;
  width: 375px;
}

.card-image img {
  max-width: 100%;
}

.card-image-left {
  margin: 6% auto 6% 10%;
  width: 500px;
}

.card-description-right {
  padding: 0 2% 0 15%;
  width: 55%;
}

/********************* Bottom Container *********************/
